.container {
  margin-top: 20px;
}

.signField {
  font-weight: 600;
}

.containerInput {
  background-color: rgb(210, 210, 210);
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 90%;
  height: 30px;
  margin-left: 8px;
}

.buttonShowPassword {
  background-color: transparent;
  border: none;
  display: flex;
  margin-left: 10px;
}