.headerOuter {
  width: 100%;
  background-color: #ffffff; /* Цвет фона страницы */
  display: flex;
  justify-content: center; /* Центрируем внутренний контейнер */
}

.headerInner {
  height: 55px;
  width: 1340px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftPartHeader {
  display: flex;
  align-items: center;
  background-color: #C1C1C1;
}

.rightPartHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C1C1C1;
}