.header {
  height: 55px;
  width: 100%;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  box-shadow: none;
  border-radius: 0;
}

.leftPartHeader {
  display: flex;
  align-items: center;
  width: 90%;
}

.rightPartHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}