.container {
  width: 900px;
  height: 800px;

  margin: 10px;
  border-radius: 0;
  padding: 0;
  background-color: #d3d3d3;
  border: 1px solid #bdbdbd;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}