.profile {
  position: relative;

  height: 45px;
  /* width: 45px; */ /* Ширина будет определяться содержимым */

  background-color: #f5f5f5;

  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.logoutText {
  font-size: 1rem;
  color: #222;
  font-weight: bold;
}

/* Удаляю стили для иконки, так как она больше не используется */
/* .accountImage { }
.profile:hover { }
*/