.profile {
  position: relative;

  height: 45px;
  width: 45px;
  border-radius: 0;

  background-color: #bdbdbd;

  cursor: pointer;
  border: 1px solid #222;
}

.accountImage {
  height: 45px;
  width: 45px;
  filter: grayscale(100%);
}

.profile:hover {
  background-color: #c5c5c5;
}